/*Header and footer, same on every pages*/
body{
	/* background-image:url("../images/crossline-dots/crossline-dots/crossline-dots.png"); */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wallpapers.jpg");
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	color:gray;
}

#navhead {
	width: 250px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: 700;
}  
		  
#link {
	/* border-right: 1px solid lightgray; */
	font-weight: 700;
	width: 90px;
	color:orange;
	float:right;
}
h1{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: 600;
}
/* about me*/
#main{
	max-width: 960px;
}
		  
#mainimag{
	width:300px;
	height:200px;
}
/* pofolio */
#portblock {
	width: 350px;
	margin: 20px 0 25px;
}
#portimg{
	width: 300px;
	height: 200px;
}
#port {
	bottom: 10px;
	width: 300px;
	font-weight: 400;
}
/* bottom footer */
	footer{
	/* clear: both; */
	font-size: 12px;
	border-top: 8px solid orange;
	height: 50px;
}

i{
	color:gray;
	font-size: 14px;
    text-align: center;
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: calc(33px - 4px);
    border: 2px solid gray;
	border-radius: 50%;
	padding:5px;
}

.social-icons{
	align-items:center;
  	display:flex;
  	justify-content:center;
}

.hover{
	cursor: pointer;
	transition: transform .9s;

}
.hover:hover{
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
}